@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.capa {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: rgba(0, 0, 255, 0.856);
    background-image: url('https://wallpapers-hub.art/wallpaper-images/185981.jpg');
    min-height: 500px;
    background-size: auto;
    
}
body {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    background-color: rgba(0, 255, 255, 0.226);
    text-align: center;   
}
ul {
    list-style-type: none;
}
.listapc {
    font-family: 'Press Start 2P', cursive;
    font: 30px bold ;
    color: blue;
    text-align: center;
    text-shadow: 10px 10px rgba(0, 0, 255, 0.199);
    
    
}
img {
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    border: 25px;
    opacity: 0.9;
    box-shadow: 20px 20px 20px gray;
}